html {
  font-size: 10px;
  font-size: calc(10px + (13 - 10) * ((100vw - 375px) / (767 - 375)));
  @media screen and (min-width: map-get($grid-breakpoints,"lg")) {
    font-size: calc(10px + (20 - 10) * ((100vw - 1440px) / (2880 - 1440)));
  }
  // @media screen and (min-width: 768px) and (max-width: 1023px) {
  //   font-size: calc(10px + (20 - 10) * ((100vw - 768px) / (1023 - 768)));
  // }
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(180deg, #110028 0%, #23004c 100%);
  color: #fff;
  font-size: unquote("max(1.6rem, 16px)");
}

a {
  color: #fff;
  text-decoration: none;
}

.position {
  &-relative {
    position: relative;
  }
}

.container-fluid {
  padding-left: var(--padding__container);
  padding-right: var(--padding__container);
  // max-width: 126.6rem;
  @media screen and (min-width: map-get($grid-breakpoints,"lg")) {
    --padding__container: 8.7rem;
  }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.area-highlighted {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: calc(100% + 10rem);
    width: 100%;
    left: 0;
    top: -5rem;
    // background: #b969ff;
    // opacity: 0.1;
    // filter: blur(150px);
    z-index: -1;
    // background: rgba(12, 11, 12, 0.01);
    // opacity: 0.15;
    // box-shadow: 0px 0px 200px rgba(#b969ff, 0.15);
    mix-blend-mode: normal;
  }
}

.mt-base {
  margin-top: 12rem;
  @media screen and (min-width: map-get($grid-breakpoints,"lg")) {
    margin-top: 20rem;
  }
}
