.jobpost {
  margin-top: 20rem;
  &__title {
    font-weight: bold;
    font-size: 3.6rem;
    letter-spacing: 2px;
    color: #b969ff;
    text-transform: uppercase;
    margin-top: 2rem;
  }
  &__content {
    margin-top: 6rem;
    font-weight: 300;
    font-size: unquote("max(1.6rem, 16px)");
    strong {
      font-size: unquote("max(2rem, 16px)");
    }

    p + p,
    ul + p {
      margin-top: 6rem;
    }

    ul {
      margin: 2rem 0 0 0;
      padding-left: 0;
      list-style-type: none;
      li {
        padding-left: 2rem;
        position: relative;
        & + li {
          margin-top: 2rem;
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0.5em;
          background-color: #b969ff;
          width: 0.3em;
          height: 0.3em;
          border-radius: 50%;
        }
      }
    }

    p + ul {
      margin-top: 2rem;
    }
  }

  .btn {
    margin-top: 6rem;
  }
}

@media screen and (min-width: map-get($grid-breakpoints,"lg")) {
  .jobpost {
    &__content {
      margin-top: 12rem;
    }

    .btn {
      margin-top: 12rem;
      margin-bottom: 10rem;
    }
  }
}
